# MATIC - AMOY
REACT_APP_POLYGON_AMOY_BLOCK_EXPLORER_URL=
REACT_APP_API_URL=
POLYGON_AMOY_PRIVATE_KEY=
POLYGON_AMOY_RPC_URL=
POLYGON_AMOY_MULTICALL_ADDRESS=
POLYGON_AMOY_TOKEN_CONTRACT=
REACT_APP_POLYGON_AMOY_DEFAULT_FROM=

# SEPOLIA
REACT_APP_ETH_SEPOLIA_BLOCK_EXPLORER_URL=
ETH_SEPOLIA_PRIVATE_KEY=
ETH_SEPOLIA_RPC_URL=
ETH_SEPOLIA_MULTICALL_ADDRESS=
ETH_SEPOLIA_TOKEN_CONTRACT=
REACT_APP_ETH_SEPOLIA_DEFAULT_FROM=

# POLYGON MAINNET
REACT_APP_POLYGON_BLOCK_EXPLORER_URL=
POLYGON_PRIVATE_KEY=
POLYGON_RPC_URL=
POLYGON_MULTICALL_ADDRESS=
POLYGON_TOKEN_CONTRACT=
REACT_APP_POLYGON_DEFAULT_FROM=
