# MATIC - AMOY
POLYGON_AMOY_PRIVATE_KEY=
POLYGON_AMOY_RPC_URL=
POLYGON_AMOY_MULTICALL_ADDRESS=
MULTICALL_NATIVE_TRANSFER_CONTRACT_ADDRESS=
POLYGON_AMOY_TOKEN_CONTRACT=
PORT=


# SEPOLIA
ETH_SEPOLIA_PRIVATE_KEY=
ETH_SEPOLIA_RPC_URL=
ETH_SEPOLIA_MULTICALL_ADDRESS=
MULTICALL_NATIVE_TRANSFER_CONTRACT_ADDRESS=
ETH_SEPOLIA_TOKEN_CONTRACT=